# Database
DATABASE_URL="postgresql://username:password@localhost:5432/deviceguard"

# NextAuth
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3006"

# API
NEXT_PUBLIC_API_URL="http://localhost:3006"